* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1230px;
  margin: auto;
  padding: 0 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a:hover {
  color: $white;
}

.col-md {
  width: 50%;
}
